<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stripe Payment Gateway</title>
</head>
<body>
    <h1>Welcomne to Ayush's Stripe Payment Gateway</h1>
    <form action="payment" method="POST">
        <script  
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="<%=key%>"
        data-amount="10000"
        data-currency="usd"
        data-name="Ayush Anand"
        data-descripttion="Connect with me :)"
        data-locale="auto">
    </script>
    </form>
</body> 
</html>